/* MAIN AUTH PAGE LAYOUT */
.auth-page {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

html, body {
    overflow: hidden !important;
}

.logo {
    width: 20%;
}

.split-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LEFT SIDE */
.left-side {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

.brand-title {
    font-size: 32px;
    color: #980000;
    font-weight: 700;
    margin: 5px 0;
}

.brand-sub {
    font-size: 16px;
    color: #444;
    margin-top: 0;
}

/* RIGHT SIDE */
.right-side {
    flex: 1;
    background: #d40000;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-side::after,
.right-side::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.right-side::after {
    width: 380px;
    height: 380px;
    bottom: -70px;
    right: -70px;
}

.right-side::before {
    width: 260px;
    height: 260px;
    bottom: -35px;
    right: -35px;
}

/* ROLE BOX */
.role-box {
    width: 360px;
    background: #ffffff;
    padding: 35px 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.20);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.role-box h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.role-box h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
}

.role-box p {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
}

/* BUTTONS */
.role-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.role-btn {
    display: block;
    width: 100%;
    height: 48px;

    background: #8B0000;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;

    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s;
}

.role-btn:hover {
    background: #a00000;
}

@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .left-side {
        display: none;
    }

    .right-side {
        border-radius: 0;
    }

    .role-box {
        width: 90%;
    }
}
