<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>TrackIt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <nav>
    <a href="/">Home</a> |
    {% if session.user %}
      <strong>{{ session.user.name }}</strong> ({{ session.user.role }}) |
      <a href="{{ url_for('dashboard') }}">Dashboard</a> |
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a> |
      <a href="{{ url_for('signup_student') }}">Sign up (Student)</a> |
      <a href="{{ url_for('signup_teacher') }}">Sign up (Teacher)</a>
    {% endif %}
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, msg in messages %}
        <div class="flash {{ category }}">{{ msg }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
