<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Account Type</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup_role.css') }}">
</head>

<body class="auth-page signup-page">

<div class="split-container">

    <!-- LEFT SIDE -->
    <div class="left-side">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
            <h1>TrackIt</h1>
            <p>Digital Attendance at Your Fingertips.</p>
        </div>

    <!-- RIGHT SIDE -->
    <div class="right-side">
        <div class="role-box">

            <h3>Student Attendance Record</h3>
            <h2>SIGN UP</h2>
            <p>Select an Account Type</p>

            <div class="role-buttons">
                <a href="{{ url_for('signup_student') }}" class="role-btn">Student</a>
                <a href="{{ url_for('signup_teacher') }}" class="role-btn">Teacher</a>
            </div>


        </div>
    </div>

</div>

</body>
</html>
